[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment[ru]=
Comment=
Exec=kwrite %U
GenericName[ru]=Текстовый редактор (root)
GenericName=Текстовый редактор (root)
GenericName[bg]=Текстов редактор (root)
GenericName[bs]=Uređivač teksta (root)
GenericName[ca@valencia]=Editor de text (root)
GenericName[ca]=Editor de text (root)
GenericName[cs]=Textový editor (root)
GenericName[da]=\sTeksteditor (root)
GenericName[de]=Texteditor (root)
GenericName[el]=Επεξεργαστής κειμένου (root)
GenericName[en_GB]=Text Editor (root)
GenericName[es]=Editor de texto (root)
GenericName[et]=Tekstiredaktor (root)
GenericName[eu]=Testu-editorea (root)
GenericName[fi]=Tekstimuokkain (root)
GenericName[fr]=Éditeur de texte (root)
GenericName[ga]=Eagarthóir Téacs (root)
GenericName[gl]=Editor de textos (root)
GenericName[he]= (root)עורך טקסט
GenericName[hu]=Szövegszerkesztő (root)
GenericName[ia]=Editor de texto (root)
GenericName[it]=Editor di testo (root)
GenericName[ja]=テキストエディタ (root)
GenericName[kk]=Мәтін редакторы (root)
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​​
GenericName[ko]=텍스트 편집기 (root)
GenericName[lt]=Teksto redaktorius (root)
GenericName[lv]=Teksta redaktors (root)
GenericName[mr]=पाठ्य संपादक (root)
GenericName[ms]=Penyunting Teks (root)
GenericName[nb]=Skriveprogram (root)
GenericName[nds]=Texteditor (root)
GenericName[nl]=Teksteditor (root)
GenericName[nn]=Skriveprogram (root)
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ (root)
GenericName[pl]=Edytor tekstu (root)
GenericName[pt]=Editor de Texto (root)
GenericName[pt_BR]=Editor de textos (root)
GenericName[ro]=Editor de text (root)
GenericName[si]=පෙළ සකසනය (root)
GenericName[sk]=Textový editor (root)
GenericName[sl]=Urejevalnik besedil (root)
GenericName[sr@ijekavian]=Уређивач текста (root)
GenericName[sr@ijekavianlatin]=Uređivač teksta (root)
GenericName[sr@latin]=Uređivač teksta (root)
GenericName[sr]=Уређивач текста (root)
GenericName[sv]=Texteditor (root)
GenericName[tg]=Таҳриргари матн (root)
GenericName[tr]=Metin Düzenleyici (root)
GenericName[ug]= (root)تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор (root)
GenericName[x-test]=xxText Editorxx (root)
GenericName[zh_CN]=文本编辑器 (root)
GenericName[zh_TW]=文字編輯器 (root)
Icon=accessories-text-editor
MimeType=text/plain;
Name[ru]=KWrite (root)
Name=KWrite (root)
Name[bg]=KWrite (root)
Name[bs]=Kwrite (root)
Name[ca@valencia]=KWrite (root)
Name[ca]=KWrite (root)
Name[cs]=KWrite (root)
Name[da]=KWrite (root)
Name[de]=KWrite (root)
Name[el]=KWrite (root)
Name[en_GB]=KWrite (root)
Name[es]=KWrite (root)
Name[et]=KWrite (root)
Name[eu]=KWrite (root)
Name[fi]=KWrite (root)
Name[fr]=KWrite (root)
Name[ga]=KWrite (root)
Name[gl]=KWrite (root)
Name[he]=KWrite (root)
Name[hu]=KWrite (root)
Name[ia]=Kwrite (root)
Name[it]=KWrite (root)
Name[ja]=KWrite (root)
Name[kk]=KWrite (root)
Name[km]=KWrite (root)
Name[ko]=KWrite (root)
Name[lt]=KWrite (root)
Name[lv]=KWrite (root)
Name[mr]=केराइट (root)
Name[ms]=KWrite (root)
Name[nb]=KWrite (root)
Name[nds]=KWrite (root)
Name[nl]=KWrite (root)
Name[nn]=KWrite (root)
Name[pa]=ਕੇ-ਲੇਖਕ (root)
Name[pl]=KWrite (root)
Name[pt]=KWrite (root)
Name[pt_BR]=KWrite (root)
Name[ro]=KWrite (root)
Name[si]=KWrite (root)
Name[sk]=KWrite (root)
Name[sl]=KWrite (root)
Name[sr@ijekavian]=К‑писање (root)
Name[sr@ijekavianlatin]=K‑pisanje (root)
Name[sr@latin]=K‑pisanje (root)
Name[sr]=К‑писање (root)
Name[sv]=Kwrite (root)
Name[tg]=Барномаи KWrite (root)
Name[tr]=KWrite (root)
Name[ug]=KWrite (root)
Name[uk]=KWrite (root)
Name[x-test]=xxKWritexx
Name[zh_CN]=KWrite (root)
Name[zh_TW]=KWrite (root)
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
IniitalPreference=5
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-DocPath=kwrite/index.html
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=true
X-KDE-Username=root
NoDisplay=true
